@import url(fonts.css);

:root {
  --body: #fff;
  --color: #49454F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background: var(--body);
  color: var(--color);
}

.container {
  max-width: 1152px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

