@import url(fonts.css);

:root {
  --body: #fff;
  --color: #49454F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background: var(--body);
  color: var(--color);
}

.container {
  max-width: 1152px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.add {
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFE;
  border-radius: 16px;
  width: 56px;
  height: 56px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  box-shadow: 0px 4px 8px 3px rgb(0 0 0 / 15%), 0px 1px 3px rgb(0 0 0 / 30%);
}